body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr auto 1fr;
    justify-content: center;
}

#header {
    grid-column: 1 / span 5;
    grid-row: 1;
    text-align: center;
    justify-self: center;
}

ul {
    display: flex;
}
li {
    margin: 0px 20px;
}

#nav {
    grid-column: 1 / span 5;
    grid-row: 2;
    justify-self: center;
}

#text1 {
    grid-column: 1;
    grid-row: 3;
}

#text2 {
    grid-column: 2 / span 3;
    grid-row: 3;
}

#text3 {
    grid-column: 5;
    grid-row: 3;
}

#footer {
    grid-column: 1;
    grid-row: 4;
}