:root {
    --color-blue: rgb(88, 88, 209);
    --color-red: rgb(180, 109, 109);
    --color-green: rgb(84, 162, 84);
}

.container {
    width: 100%;
    height: 300px;
    border: red solid 5px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.textes {
    text-align: center;
}

#text1 {
    background-color: var(--color-blue);
    grid-area: 2/2/2/2;
}

#text2 {
    background-color: var(--color-red);
    grid-area: 1/1/1/1;
}

#text3 {
    background-color: var(--color-green);
    grid-area: 2/1/2/1;
}

#text4 {
    background-color: var(--color-blue);
    grid-area: 2/2/2/2;
}

#text5 {
    background-color: var(--color-red);
    grid-area: 1/3/span 3/3;
}

#text6 {
    background-color: var(--color-green);
    grid-area: 2/1/span 2/1;
}

#text7 {
    background-color: var(--color-blue);
    grid-area: 2/3/2/3;
}

#text8 {
    background-color: var(--color-red);
    grid-area: 1/1/1/1;
}

#text9 {
    background-color: var(--color-green);
    grid-area: 2/1/span 2/1;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

@media only screen and (max-width: 1060px) {
    body {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}